{% extends "base.html" %}

{% block content %}
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Wishlist </h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================WishList Area =================-->
    <section class="cart_area">
<!--        <h1 class="p-2"><center>WISHLIST 💖</center></h1>-->
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                                <th scope="col"></th> 
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Row Start -->
                        {% if data %}
                        {% for items in data %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="cart_image" src="..{{data[items]['image']}}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{data[items]['productname']}}</p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <h5>${{data[items]['price']}}</h5>
                                </td>
                                <td>
                                    <form method="POST" action="{{url_for('additem.addtocart')}}">
                                        <input type="hidden" name="movetocart" value="true">
                                        <input type="hidden" name="productid" value={{items}}>
                                        <button class="gray_btn">Move to Cart</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST" action="{{url_for('additem.deleteFromWishList')}}">
                                        <input type="hidden" name="productid" value={{items}}>
                                        <button class="gray_btn">Remove from wish list</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}


                            <tr class="out_button_area">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{{url_for('blog.index')}}">Continue Shopping</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <h3><center>You Don't Have any Product In Your Wish List</center></h3> <br> <br>
        {% endif %}
    </section>
    <!--================End Cart Area =================-->
    {% endblock %}